.sign-up {
    .email {
        padding-left: 40px;
    }

    .button-row {
        width: 200px;
        margin: 20px auto;

        button {
            margin-bottom: 20px;
        }

        .facebook-login-button {
            width: 100%;
        }
    }
}
